.app {
    text-align: center;
}

.app-header {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    height: 30px;
}

.app-main {
    height: calc(100vh - 30px);
    position: relative;
    overflow: hidden;
}

.app-sub-main {
    height: calc(100% - 10px);
}

.drag-rect {
    pointer-events: none;
    background-color: lightblue;
    position: absolute;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.drag-target-rect {
    pointer-events: none;
    background-color: #3333ff;
    position: absolute;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.delete-button {
    float: right;
    margin: 2px 4px 0 0;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    background-color: transparent;
    font-family: "Arial";
}

.delete-button:focus {
    outline: 0;
}

.delete-button:hover {
    background-color: lightgrey;
}

.app-row {
    display: flex;
}

.app-row-resize-bar {
    height: 10px;
    width: 100%;
    padding: 0;
}

.app-row-resize-cursor {
    cursor: ns-resize;
}

.app-cell {
    background-color: #eee;
    font-weight: 600;
}

.app-transition {
    transition: all 0.15s linear;
}

.app-cell-resize-bar {
    width: 10px;
    height: 100%;
}

.app-cell-resize-cursor {
    cursor: ew-resize;
}

div {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

select {
    margin: 5px 5px 5px 2px;
}

label {
    margin: 5px 2px 5px 5px;
}